<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p class="flex-center">削除が完了しました</p>
    </div>
    <div class="card-action blue-grey lighten-4">
      <a href="/articles" class="flex-center grey-text text-darken-3">Topに戻る</a>
    </div>
  </div>
</div>