<%= form_for @article, url: article_path(@article.article_id), method: :patch, class: "col s12" do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="edit-article-title" type="text" class="materialize-textarea" name="title"><%= @article.title %></textarea>
      <label for="edit-article-title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="edit-article-body" class="materialize-textarea" name="body"><%= @article.body %></textarea>
      <label for="edit-article-body">Body</label>
    </div>
  </div>
  <div>
    <%= f.submit "UPDATE", class: "btn waves-effect waves-light btn-large" %>
  </div>
<% end %>