<div class="container">
  <div class="row">
    <div class="card-wapper">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Article Title</span>
          <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small">SHOW</a>
          <a href="#" class="waves-effect waves-light btn-small">EDIT</a>
          <a href="#" class="waves-effect waves-light btn-small">DESTROY</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card-wapper">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Article Title</span>
          <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small">SHOW</a>
          <a href="#" class="waves-effect waves-light btn-small">EDIT</a>
          <a href="#" class="waves-effect waves-light btn-small">DESTROY</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card-wapper">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Article Title</span>
          <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small">SHOW</a>
          <a href="#" class="waves-effect waves-light btn-small">EDIT</a>
          <a href="#" class="waves-effect waves-light btn-small">DESTROY</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card-wapper">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Article Title</span>
          <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </div>
        <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small">SHOW</a>
          <a href="#" class="waves-effect waves-light btn-small">EDIT</a>
          <a href="#" class="waves-effect waves-light btn-small">DESTROY</a>
        </div>
      </div>
    </div>
  </div>
</div>