<%= form_for @article, url: articles_path, method: :post, class: "col s12" do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <div><%= @article.errors.full_messages.length %>errors occurred</div>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="new-article-title" type="text" class="materialize-textarea" name="title"></textarea>
      <label for="new-article-title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="new-article-body" class="materialize-textarea" name="body"></textarea>
      <label for="new-article-body">Body</label>
    </div>
  </div>
  <div>
    <%= f.submit "SUBMIT", class: "btn waves-effect waves-light btn-large" %>
  </div>
<% end %>