<% unless current_page.last? %>
  <li class="waves-effect">
    <%= link_to(url, remote: remote) do %>
      <i class="material-icons">last_page</i>
    <% end %>
  </li>
<% else %>
  <li class="disabled">
    <%= link_to(url, class: "no-event", remote: remote) do %>
      <i class="material-icons">last_page</i>
    <% end %>
  </li>
<% end %>