<% unless current_page.last? %>
  <li class="waves-effect">
    <%= link_to(url, rel: 'next', remote: remote) do %>
      <i class="material-icons">navigate_next</i>
    <% end %>
  </li>
<% else %>
  <li class="disabled">
    <%= link_to(url, rel: 'next', class: "no-event", remote: remote) do %>
      <i class="material-icons">navigate_next</i>
    <% end %>
  </li>
<% end %>