<% unless current_page.first? %>
  <li class="waves-effect">
    <%= link_to(url, rel: 'prev', remote: remote) do %>
      <i class="material-icons">navigate_before</i>
    <% end %>
  </li>
<% else %>
  <li class="disabled">
    <%= link_to(url, rel: 'prev', class: "no-event", remote: remote) do %>
      <i class="material-icons">navigate_before</i>
    <% end %>
  </li>
<% end %>