@import "materialize/components/color-variables";
$primary-color: color("blue-grey", "lighten-2") !default;
$secondary-color: color("blue-grey", "lighten-3") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@mixin flex-center {
  display: flex;
  justify-content: center;
}

// common
.row {
  @include flex-center;
}

.flex-center {
  @include flex-center;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.btn-wide75 {
  display: block;
  height: 60px;
  width: 75%;
}

// header
.nav-wrapper {
  width: 75%;
  margin: 0 auto;
}

// body
.container {
  width: 75%;
  margin-top: 100px;
}