@import "materialize/components/color-variables";
$primary-color: color("blue-grey", "lighten-2") !default;
$secondary-color: color("blue-grey", "lighten-3") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "articles";

// header
.nav-wrapper .brand-logo {
  margin-left: 100px;
}

.nav-wrapper ul {
  margin-right: 100px;
}